 .box {

            background-color: rgba(51,122,183,0.7);
            color:white;
            font-size: 3.0em;
        }

/* Insert path to the background image */
body {
    background: url("../img/bg3a.jpg") no-repeat top center;
    background-color: #0A7BC1;
}
/* Modify the colors for footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
/*  background-color: #E7E7E7;*/
 background-color: #084365;
/*  background-color: rgba(0,123,255,0.4);*/
/*    background-color:rgba(0,0,0,0.4);*/
/*  color: cccccc;*/
  color:white;
  text-align: center;
}

/* Modify the colors for the default navbar */
.navbar-default {
/*    background-color: #F8F8F8;   */
/*    background-color: rgba(0,123,255,0.4);*/
    background-color: #084365;
/*    background-color:rgba(0,0,0,0.4); */
/*    border-color: rgba(0,123,255,0.4);*/
    border-color: #084365;
}
/* Title */
.navbar-default .navbar-brand {
/*    color: #777;*/
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
/*    color: #777;*/
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

/* Customised components provided for your use */ 
.box-blue {
/* background-color: rgba(76,174,227,1.0);*/
background-color: rgba(51,122,183,0.5);
/*    background-color: rgba(51,122,183,0.4);*/
/*    background-color: rgba(0,123,255,0.4);*/
    color:white;
    font-size: 3.0em;
}

.box-black {

    background-color: rgba(0,0,0,0.4);
    color:white;
    font-size: 3.0em;
}

.box-transparent {
    background-color: transparent;
    color:white;
    font-size: 3.0em;
}

.btn-blue {
    border-radius: 0;
    color: #fff;
   background-color: rgba(51,122,183,0.5);
/*    background-color: rgba(0,123,255,0.7);*/
/*    border-radius: 12px;*/
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
    color: #fff;
    background-color: rgba(51,122,183,0.7);
/*    background-color: rgba(0,123,255,0.4);*/
    /*border-radius: 12px;*/
}

.btn-black {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
/*    border-radius: 12px;*/
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active {
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    /*border-radius: 12px;*/
}
