{% extends "base.twig" %}
{% block title %}trips app home {% endblock %}
{% block brand %}trips app home {% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<center><div class="container" >
        <div class="row">
          <div class="col-md-2"></div>
            <div class="col-md-8 box-blue text-center">trip form</div>
            <div class="col-md-2"></div>
    </div></center>

 {% endblock %}